 
@{
    ViewBag.Title = "Small Photos";
}

<h2>SmallPhotos</h2>

<script>
    $(document).ready(function () {
        $.ajax(
            {
                url: 'http://localhost:1427/photos',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    var htmlstr = '<div class="col-md-2">ID</div> <div class="col-md-8">Photos</div> <div class="col-md-2">Title</div>';
                    for (var k = 0; k < 20; k++) {

                        htmlstr += '<div class="row"><div class="col-md-2">' + data[k].id + '</div><div class="col-md-8"><img title="' + data[k].title + '" src="' + data[k].thumbnailUrl + '" /></div><div class="col-md-2">' + data[k].title + '</div></div>'

                    }
                    htmlstr += '</div>';
                    $("#divSmallPh").html(htmlstr);
                },
                error: function () {
                    alert("error");
                }
            });
    });
</script>
<div class="row" id="divSmallPh">
    
</div>

